* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {

    --mustard: #bea504;
    --dark-grey: #3f3c3c;
    --light-grey: #bec0be;
    --font-1: 'Georgia', 'Garamond', 'Lucida Sans', Arial, sans-serif;
    --font-2: 'Courier New', Courier, monospace;

}

body {
    background-color: var(--mustard);
}

/* NAVIGATION  STYLING */


.header {
    padding: 30px;
    border: 20px;
    font-family: var(--font-1);
    background-color: var(--mustard);
    color: var(--dark-grey);
    text-align: right;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
}

.header h2 {
color: var(--light-grey);
}


a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;

}

/* HERO IMAGE / BUTTONS STYLING */


/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
    opacity: 0.7;
  }
  
/* BUTTONS STYLING */

  .container .btn-about {
    position: absolute;
    top: 50%;
    right: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    opacity: 0.7;
    color: white;
    font-size: 20px;
    font-family:var(--font-2);
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 130px;
  }

  .container .btn-projects {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    opacity: 0.7;
    color: white;
    font-size: 20px;
    font-family: var(--font-2);
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 130px;
  }

  .container .btn-contact {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    opacity: 0.7;
    color: white;
    font-size: 20px;
    font-family: var(--font-2);
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 130px;
  }

  
  .container .btn-about:hover {
    background-color: var(--dark-grey);
  }

  .container .btn-projects:hover {
    background-color: var(--dark-grey);
  }

  .container .btn-contact:hover {
    background-color: var(--dark-grey);
  }



/* MAIN SECTION BLOCK STYLING */

.my-details {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 100%;
    padding: 30px;
    height: 100%;
    font-family: 'Georgia', 'Garamond', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--light-grey);
    color: #ffffff;
}

.my-details h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-family: var(--font-1);
}

.my-details h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: var(--font-2);
}


.my-details img {
    height: 150px;
    width: 150px;
    position: relative;
    float: right;
    border-radius: 30%;
    margin-bottom: 40px;
    margin-left: 40px;
    
}




/* MAIN PROJECT SECTION BLOCK STYLING */


/* comment out
.main-project {
    background-image: url(https://image.shutterstock.com/z/stock-photo-code-html-444047245.jpg);
    margin-bottom: 0;
    width: 49%;
    padding: 50px;
    height: 615px;

    color: #ffffff;
  
}

*/



.main-project .btn-main-project {
  background-image: url(https://image.shutterstock.com/z/stock-photo-code-html-444047245.jpg);
    background-color: #555;
    color: white;
    opacity: 0.7;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 90%;
    height: 96%;
    font-family: var(--font-2);
    margin-right: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;

}

.btn-main-project:hover {
    opacity: 1;
  }


/* OTHER PROJECTS SECTION BLOCK STYLING */
/* PROJECT 2 */




.project-2 .btn-project-2 {
  background-image: url(https://image.shutterstock.com/z/stock-photo-web-development-work-concept-html-programming-job-programmer-working-on-his-laptop-computer-511444168.jpg);
  background-color: #555;
  color: white;
  opacity: 0.7;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 420px;
  height: 300px;
  font-family: var(--font-2);
  margin-left:30px;
  margin-top: 15px;
  margin-right: 30px;
 
  }


.project-2 .btn-project-2:hover {
    opacity: 1;
  }


/* PROJECT 3 */


.project-3 .btn-project-3 {
  background-image: url(https://image.shutterstock.com/z/stock-photo-designer-drawing-website-development-wireframe-156863096.jpg);
  background-color: #555;
  color: var(--light-grey);
  opacity: 0.7;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 420px;
  height: 300px;
  font-family: var(--font-2);
  margin-left:30px;
  margin-top: 15px;
  margin-right: 30px;
 
  }

  .project-3 .btn-project-3:hover {
    opacity: 1;
  }


/* PROJECT 4 */

.project-4 .btn-project-4 {
  background-image: url(https://image.shutterstock.com/z/stock-photo-website-designer-working-digital-tablet-and-computer-laptop-with-smart-phone-and-digital-design-407705494.jpg);
  background-color: #555;
  color: white;
  opacity: 0.2;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 420px;
  height: 300px;
  font-family: var(--font-2);
  margin-left:30px;
  margin-top: 15px;
  margin-right: 30px;
 
  }

  .project-4 .btn-project-4 {
    opacity: 1;
  }

/* Flex containers for positioning */

.flex-container-a {
display: flex;
flex-direction: column;

}

.flex-container-b {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  }


.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}


/* FOOTER */

.footer {
    padding: 30px;
    font-family: var(--font-1);
    text-align: center;
}



.footer h2 {
    font-size: 15px;
    font-family: var(--font-1);
}


/* Optimised for large tablet*/

@media screen and (max-width: 920px) {
  

  .flex-container-b {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
  
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    
  
  }

  .my-details {
       width: 100vw;
       margin-left: 0;
  
 
}



.main-project .btn-main-project {
height: 50vh;
width: 175vw;
opacity: 1;
}

/* PROJECT 2 */

.project-2 .btn-project-2 {
 
  width: 175vw;
  height: 30vw;
  opacity: 1; 
 
  }

/* PROJECT 3 */


.project-3 .btn-project-3 {
  width: 175vw;
  height: 30vw;
  opacity: 1;
  color: #7a7a7a
}


/* PROJECT 4 */

.project-4 .btn-project-4 {
  width: 175vw;
  height: 30vw;
  opacity: 1;
}

}

/* Optimised for small tablet */

@media screen and (max-width: 830px) {
  

  .flex-container-b {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
  
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    
  
  }

  .my-details {
       width: 100vw;
       margin-left: 0;
  
 
}



.main-project .btn-main-project {
height: 50vh;
width: 93vw;
opacity: 1;
}

/* PROJECT 2 */

.project-2 .btn-project-2 {
 
  width: 93vw;
  height: 30vw;
  opacity: 1; 
 
  }

/* PROJECT 3 */


.project-3 .btn-project-3 {
  width: 93vw;
  height: 30vw;
  opacity: 1;
  color: #7a7a7a
}


/* PROJECT 4 */

.project-4 .btn-project-4 {
  width: 93vw;
  height: 30vw;
  opacity: 1;
}



/* DISABLES SCROLLING TO RIGHT ON SMALLER SCREENS */

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}


/* Optimised for smartphone*/

@media screen and (max-width: 420px) {
  

  .flex-container-b {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
  
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90vw;
  
  }

  .my-details {
       width: 100vw;
       margin-left: 0;
 
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: flex;
  width: 150vw;
  position: relative;

}


.container .btn-about {
 
  background-color: #555;
  opacity: 0.7;
  color: white
  font-size: 20px;
  font-family:var(--font-2);
  border: none;
  border-radius: 5px;
  width: 20vw;
  margin-right: 10vw;
  top: 25vw;
  left: 30vw;
  margin: -25px 0 0 -25px;

}

.container .btn-projects {

  background-color: #555;
  opacity: 0.7;
  color: white;
  font-size: 20px;
  font-family: var(--font-2);
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 30vw;
  margin-left: 10vw;
  position: absolute;
  top: 25vw;
  left: 50vw;
  margin: -25px 0 0 -25px;


}

.container .btn-contact {


  background-color: #555;
  opacity: 0.7;
  color: white;
  font-size: 20px;
  font-family: var(--font-2);
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 30vw;
  margin-right: 100vw;
  top: 25vw;
  left: 300vw;
  margin: -25px 0 0 -25px;
}

.main-project .btn-main-project {
  height: 50vh;
  width: 85vw;
  opacity: 1;
  }
  
  /* PROJECT 2 */
  
  .project-2 .btn-project-2 {
   
    width: 85vw;
    height: 30vw;
    opacity: 1; 
   
    }
  
  /* PROJECT 3 */
  
  
  .project-3 .btn-project-3 {
    width: 85vw;
    height: 30vw;
    opacity: 1;
    color: #7a7a7a
  }
  
  
  /* PROJECT 4 */
  
  .project-4 .btn-project-4 {
    width: 85vw;
    height: 30vw;
    opacity: 1;
  }


}


